{% extends 'frontend/layout.html' %}
{% block body %}
<div class='container'>
    <br/>
    <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/tshirt">{{category.capitalize()}}</a>
    </h3>
</div>

<div class="row">
    <div class="list-group">
        <a href="{{url_for('frontend.fe_category', category='agro')}}" class="list-group-item">Agro Produce</a>
        <a href="{{url_for('frontend.fe_category', category='organic_skin_care')}}" class="list-group-item">Organic Skin Care</a>
        <a href="{{url_for('frontend.fe_category', category='organic_hair_care')}}" class="list-group-item">Organic Hair Care</a>
        <a href="{{url_for('frontend.fe_category', category='Seedling')}}" class="list-group-item">Seedling</a>
    </div>
    {% for product in products %}
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="card mb-4">
            <!-- a href=" / { { product.category } } ? v iew = { { product.id } } " -->
            <a href="{{url_for('frontend.fe_product',category=product.category, product_id=product.id)}}">
                <div class="card-img-top id_{{product.id}}"
                     style="background: url('frontend/static/frontend/image/product/{{product.category}}/{{product.picture}}'); background-repeat:no-repeat; background-size: cover; height:200px;width:100% "></div>
            </a>
            <div class="card-body">
                <h5><a class="card-title" href="javascript:void();">{{ product.pName}}</a></h5>
                <h4>N{{product.price}} <br/><a href='#' >Add To Cart</a></h4>
                <span class="text-warning"></span>
            </div>
        </div>
        <!-- /.card -->
    </div>
    {% endfor %}
</div>
{% endblock %}