{% extends 'frontend/layout.html' %}
{% block body %}
<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-3 my-4">
            <div class="list-group">
                {% for i in categories_nav %}
                    <a href="{{url_for('frontend.fe_category', category=i.parent_name | lower)}}" class="list-group-item">{{i.parent_name}}</a>
                {% endfor %}
                <!-- <a href="{{url_for('frontend.fe_category', category='agro')}}" class="list-group-item">Agro Produce</a>
                <a href="{{url_for('frontend.fe_category', category='organic_skin_care')}}" class="list-group-item">Organic Skin Care</a>
                <a href="{{url_for('frontend.fe_category', category='organic_hair_care')}}" class="list-group-item">Organic Hair Care</a>
                <a href="{{url_for('frontend.fe_category', category='Seedling')}}" class="list-group-item">Seedling</a> -->
            </div>
        </div>
        <!-- /.col-lg-3 -->
        <div class="col-lg-9">           
            <div class="row">
                <div class="col-lg-6">
                    <div class="card mt-4">
                        <img class="card-img-top img-fluid" src={{url_for('frontend.fe_load_image', image=data['product'].image)}} alt={{data['product'].image}} />
                    </div>
                </div>
                <!-- /.card -->
                <div class="col-lg-6">
                    <div class="card card-outline-secondary my-4">
                        <div class="card-header">
                            Product Details
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">{{ data['product'].name}}</h3>
                            <h4>N{{ data['product'].price}}</h4>
                            <p class="card-text">{{data['description']}}</p>
                            <input name='user_id' style="display:none" value="{{current_user.id}}">
                            <input name="product_id" style="display:none" value="{{data['product'].id}}">
                            <input name="seller_id" type=hidden style="display:none" value="{{data['product'].seller_id}}" >
                            <p id='quantity'>Quantity</a><br/>
                            <div style="color:green" class='success'></div>
                            <input type="number" value=1 name='quantity' required><br/><br/>
                            <button id='add_to_cart'> Add To Cart</button>
                        </div>
                    </div>
                </div>
                <!-- /.card -->
            </div>
            <h2 class="mb-4">No similar product found <br/> Calculated by : content_based_filtering method</h2>
        </div>
        <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
{% endblock %}